# Sakila SQL core
- Kevin Ridge

In [1]:
# imports
import pandas as pd
from sqlalchemy import create_engine

1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

- SELECT first_name, last_name, email, address_id
- FROM customer
- WHERE customer_id='312';

2.*** What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.

- SELECT *
- FROM category
- WHERE name= 'Comedy';

3.*** What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

- SELECT l.actor.last_name
- FROM actor AS l
- JOIN film AS f;
- FROM f.release_year, f.title
- WHERE last_name='Lollobrigida'


4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

- SELECT a.last_name, a.first_name, f.title
- FROM actor AS a
- JOIN film_actor AS z
- ON a.actor_id = z.actor_id
- JOIN film AS f
- ON z.film_id = f.film_id
- WHERE f.title = 'Bingo Talented';

5. *** What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.
 Stumped


6. What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.

I dont know